@import url(./main.scss);
@import url(./Layout.scss);
@import url(./slider.scss);
@import url(./animation.scss);
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Great+Vibes&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: "Roboto", serif;
    line-height: 1.5;
    background-color: #120f0f;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
main{
  overflow: hidden;
}
.container{
  max-width: 1200px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

table {
  border-collapse: collapse;
  width: 100%;
}

ul,
ol {
  list-style: none;
}

button {
  background: none;
  border: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #fff;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  border: none;
  outline: none;
}

html,
body {
  height: 100%;
  width: 100%;
}



.second-title{
  text-transform: uppercase;
  font-size: 28px;
  line-height: 34px;
  font-weight: 700;
  padding-bottom: 10px;
}

.main-text{
  font-size: 14px;
  color: #e5e5e5;
  line-height: 20px;

  span{
    font-weight: 700;
    color: #ff8f8f;
  }
}

.optionUa{
  letter-spacing: 1px !important;
}

.main-button{
  display: block !important;
  max-width: 265px;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 25px;
  padding: 7px 15px;
  border-radius: 20px;
  margin-top: 20px;
  
  border: 1px solid #ffffff96;
  transition: .2s;

  &:hover{
    background-color: #fff;
    color: #c41430;
  }
}

.uaTitle{
  letter-spacing: -2px !important;
}


@media(max-width: 720px) {
  .second-title{
    font-size: 22px;
    line-height: 26px;
  }
  
  .main-text{
    font-size: 14px;
    color: #e5e5e5;
    line-height: 18px;
  
    span{
      font-weight: 700;
      color: #ff8f8f;
    }
  }

  .main-button{
    font-size: 16px;
  }
}

@media(max-width:400px){
  .uaTitle{
    font-size: 45px !important;
  }
}