.slick-track {
  display: flex !important;
  align-items: center;
}

.slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  flex-shrink: 0;
  transition: transform 0.2s ease-in-out;
  max-width: 100%;
  height: auto;
}

.slick-slide img {
  max-width: 100%;
  height: auto;
}

.slick-list {
  width: 100%;
}

.slick-slider {
  width: 100%;
  max-width: 100vw;
}
  
  .slick-slide.slick-active {
    transform: scale(0.95);
  }
  
  
  .slick-dots {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90px;
    display: flex !important;
  }
  
  .slick-dots li {
    margin: 0 5px;
  }
  
  .slick-dots li button {
    font-size: 0;
    width: 8px;
    height: 8px;
    background-color: #acacac;
    border: none;
    border-radius: 50%;
    transition: .2s;
    cursor: pointer;
  }
  
  .slick-dots li.slick-active button {
    background-color: #272727;
    transform: scale(1.3);
  }
  